@import "~react-table/react-table.css";

.App {
  text-align: center;
  margin-left: 200px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-sidebar {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #007bff;
  color: #fff;

  .sidebar-header {
    height: 150px;
    padding-top: 70px;
  }

  ul {
    margin-top: 10px;
  }

  li {
    padding: 10px;
  }

  a {
    color: #fff
  }

  i {
    margin-right: 7px;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Table-header {
  padding-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
}
