@import url(~react-table/react-table.css);
.App {
  text-align: center;
  margin-left: 200px; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-sidebar {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #007bff;
  color: #fff; }
  .App-sidebar .sidebar-header {
    padding-top: 60px;
    padding-bottom: 50px; }
  .App-sidebar li {
    padding: 10px; }
  .App-sidebar a {
    color: #fff; }

.App-intro {
  padding-top: 10px;
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
